@import "./tailwind.css";
@import "./theme.css";
html {
  overflow-x: hidden;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
}
