# SmartSort ML Service Environment Variables Example

# Path to the Lite model file
ML_MODEL_PATH="./smart_bin_model.tflite"

# Port on which Flask server runs
ML_PORT=5001

# Sentry DSN for Python ML service
SENTRY_DSN="https://bda3cc28b42072d77d287827eb5782d0@o4511825282269184.ingest.de.sentry.io/4511825373626448"

# Gemini API Key for improved image classification
GEMINI_API_KEY=""
